html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: rgba(27,138,185,1);
  font-family: 'Gotham';
  font-weight: 400;
}

p, h1, h2, h3, h4 {
  font-size: 1em;
  padding: 0;
  margin: 0;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}

.flex {
  display: flex;
}
.inline {
  display: inline;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.table {
  display: table;
}
.inline-table {
  display: inline-table;
}
.table-cell {
  display: table-cell;
}

.v-top {
  vertical-align: top;
}
.v-middle {
  vertical-align: middle;
}
.v-bottom {
  vertical-align: bottom;
}

.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.align-center {
  align-items: center;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clear-both {
  clear: both;
}

.uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}
.bold {
  font-weight: 500;
}
.white {
  color: rgba(255,255,255,1);
}

.gotham {
  font-family: 'Gotham';
}
.gotham-book {
  font-family: 'Gotham Book';
}

.pointer {
  cursor: pointer;
}

.page {
  position: relative;
  padding-top: 100px;
}

.page .title {
  max-width: 800px;
  margin: 0 auto;
  font-size: 3.66em;
  letter-spacing: 0.05em;
}

nav {
  position: fixed;
  display: table;
  table-layout: fixed;
  width: 100%;
  background: rgba(72,72,72,1);
  transform: translate(0,-100%);
  transition: transform 0.33s ease;
  z-index: 1;
}
nav.active {
  transform: translate(0,0);
}
nav a {
  color: white;
  text-decoration: none;
  flex: 1;
  height: 60px;
  display: table-cell;
  vertical-align: middle;
  width: 33.333%;
  transition: all 0.33s ease;
}
nav a:hover {
  background: rgba(216,216,216,1);
  color: rgba(72,72,72,1);
}
nav a:nth-of-type(1) {
  border-right: 1px solid rgba(36,36,36,1);
}
nav a:nth-of-type(3) {
  border-left: 1px solid rgba(36,36,36,1);
}
#burger {
  position: absolute;
  right: 0; top: 100%;
  height: 80px; width: 80px;
  background: rgba(72,72,72,1);
}
#burger svg {
  margin: 0 auto;
}

#about .content {
  padding: 60px 0;
}

#burger_cont {
  display: block;
  width: 100%;
  text-align: center;
  margin: 40px auto 0;
  bottom: 0;
}
#burger_cont.now {
  position: absolute;
  bottom: 0;
}
/*#burger_scroller.now
#burger_cont {
  position: absolute!important;
  bottom: 0!important;
  top:auto!important;
}
#burger_scroller.now
.scrollmagic-pin-spacer {
  position: static!important;
}*/
#burger_cont svg {
  width: 90%;
  max-width: 500px;
  height: auto;
  overflow: visible;
  -webkit-transform: translate3d(0, 0, 0);
}
#burger_trigger {
  bottom: 0;
}
#burger_trigger2 {
  bottom: 0;
}

#about .section {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  text-align: justify;
}

#about .section .header {
  width: 100%;
  margin-bottom: 1em;
  text-align: center;
}
#about .section .header h2 {
  font-size: 2em;
  padding: 15px;
}

#about .section .text {
  line-height: 1.5em;
  padding-bottom: 40px;
  display: none;
}

#about .section .button .pupil {
  transform-origin: 50% 50%;
  transition: transform 0.33s ease;
}
#about .section .button .top {
  transition: transform 0.33s ease;
}
#about .section .button .eye-base,
#about .section .button .base {
  transition: fill 0.33s ease;
}
#about .section .button .cornea {
  transition: fill 0.33s ease;
}
#about .section.active .button .top {
  transform: translate(0, 5px);
}
#about .section.active .button .pupil {
  transform: scale(1.66);
}
#about .section.active .button .cornea {
  fill: rgba(27,138,185,1);
}
#about .section.active .button .eye-base,
#about .section.active .button .base {
  fill: rgba(72,72,72,1);
}
#about .section.active .text {
  display: block;
}

#contact .title {
  margin-bottom: 20px;
}
#contact_error {
  width: 90%;
  font-size: 1.33em;
  font-weight: 500;
  max-width: 360px;
  color: rgba(218,52,77,1);
  margin: 0 auto 20px;
}
#contact_form {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 40px;
}
#contact_form input,
#contact_form textarea {
  display: block;
  width: 100%;
  padding: 1.5em 1em;
  border: none;
  font-size: 1em;
  font-family: 'Gotham Book';
  box-sizing: border-box;
  -webkit-border-radius:0px;
  -webkit-appearance: none;
}
#contact_form input:focus,
#contact_form textarea:focus {
  outline-width: 0;
}
#contact_form input:nth-of-type(1) {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
#contact_form input:nth-of-type(2) {
  border-top: 1px solid rgba(200,200,200,1);
  border-bottom: 1px solid rgba(200,200,200,1);
}
#contact_form textarea {
  height: 200px;
  vertical-align: top;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  resize: none;
}
#contact_form input[type="submit"] {
  width: 150px;
  display: block;
  margin: 1em auto 0;
  padding: 0.5em 1em;
  font-size: 1.33em;
  background: rgba(127,176,105,1);
}
#contact_form input[type="submit"]:hover {
  background: rgba(72,72,72,1);
  color: rgba(255,255,255,1);
}

#contact_form.submitting input[type="submit"] {
  display: none;
}
#contact_form.submitting:after {
  content: "SUBMITTING...";
  font-size: 1.66em;
  display: block;
  text-align: center;
  margin-top: 20px;
  color: rgba(127,176,105,1);
  animation: phase 1s infinite alternate;
}

@keyframes phase {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media screen and (max-width: 768px) {
  .page .title {
    font-size: 7.66vw;
  }
}

@media screen and (max-width: 480px) {
  nav {
    display: flex;
    flex-flow: column;
    transition: transform 0.33s ease-in;
  }
  nav a {
    height: 0px;
    line-height: 0px;
    padding: 2.66em 0;
    width: 100%;
    box-sizing: border-box;
    border-left: none;
    border-right: none;
  }
  nav a:nth-of-type(2) {
    border-top: 1px solid rgba(36,36,36,1);
    border-bottom: 1px solid rgba(36,36,36,1);
  }
}
