html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: rgba(27,138,185,1);
  font-family: 'Gotham';
  font-weight: 400;
}

p, h1, h2, h3, h4 {
  font-size: 1em;
  padding: 0;
  margin: 0;
}

.page {
  min-height: 100%;
  position: relative;
  padding-top: 100px;
}

.flex {
  display: flex;
}
.inline {
  display: inline;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.table {
  display: table;
}
.inline-table {
  display: inline-table;
}

.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.align-center {
  align-items: center;
}

.uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}
.bold {
  font-weight: 500;
}
.white {
  color: rgba(255,255,255,1);
}
.gotham {
  font-family: 'Gotham';
}

.pointer {
  cursor: pointer;
}

nav {
  position: absolute;
  display: table;
  width: 100%;
  background: rgba(72,72,72,1);
  transform: translate(0,-100%);
  transition: transform 0.33s ease;
  z-index: 1;
}

nav.active {
  transform: translate(0,0);
}

nav a {
  color: white;
  text-decoration: none;
  flex: 1;
  height: 60px;
  display: table-cell;
  vertical-align: middle;
}

#burger {
  position: absolute;
  right: 0; top: 100%;
  height: 80px; width: 80px;
  background: rgba(72,72,72,1);
}

#burger svg {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}


#about .title {
  max-width: 800px;
  margin: 0 auto;
  font-size: 3.66em;
  letter-spacing: 0.05em;
}
