html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: rgba(27,138,185,1);
  font-family: 'Gotham';
  font-weight: 400;
}

/* THANK U iOS */
html[data-view="Testimonials"],
body[data-view="Testimonials"] {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
/* -__- */

p, h1, h2, h3, h4 {
  font-size: 1em;
  padding: 0;
  margin: 0;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.inline {
  display: inline;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.table {
  display: table;
}
.inline-table {
  display: inline-table;
}
.table-cell {
  display: table-cell;
}

.v-top {
  vertical-align: top;
}
.v-middle {
  vertical-align: middle;
}
.v-bottom {
  vertical-align: bottom;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clear-both {
  clear: both;
}

.uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.bold {
  font-weight: 500;
}
.white {
  color: rgba(255,255,255,1);
}

.gotham {
  font-family: 'Gotham';
}
.gotham-book {
  font-family: 'Gotham Book';
}
.gotham-bold {
  font-family: 'Gotham';
  font-weight: bold;
}
.gotham-black {
  font-family: 'Gotham';
  font-weight: 500;
}

.pointer {
  cursor: pointer;
}

.page {
  position: relative;
  padding-top: 100px;
}

.page-title {
  max-width: 800px;
  margin: 0 auto;
  font-size: 3.66em;
  letter-spacing: 0.05em;
}

nav {
  position: fixed;
  display: table;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  table-layout: fixed;
  width: 100%;
  -webkit-transform: translate(0,-100%);
          transform: translate(0,-100%);
  -webkit-transition: -webkit-transform 0.33s ease;
  transition: -webkit-transform 0.33s ease;
  transition: transform 0.33s ease;
  transition: transform 0.33s ease, -webkit-transform 0.33s ease;
  z-index: 1;
}
nav.active {
  -webkit-transform: translate(0,0);
          transform: translate(0,0);
}
nav a {
  color: white;
  background: rgba(72,72,72,1);
  text-decoration: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: table-cell;
  vertical-align: middle;
  width: 33.333%;
  -webkit-transition: all 0.165s ease;
  transition: all 0.165s ease;
}
nav a .text {
  padding: 1em 0;
  font-size: 1.33em;
  letter-spacing: 0.1em;
  font-family: 'Gotham Book';
}
nav a .pic {
  height: 70px;
  padding: 1.33em 0 0;
}
nav a .pic svg {
  height: 100%;
  fill: white;
  stroke: white;
  -webkit-transition: all 0.33s ease;
  transition: all 0.33s ease;
}
nav a:hover {
  background: rgba(216,216,216,1);
  color: rgba(72,72,72,1);
}
nav a svg,
nav a svg .cls-1,
nav a svg .cls-2 {
  stroke: white;
  fill: none;
  -webkit-transition: all 0.33s ease;
  transition: all 0.33s ease;
}
nav a svg .cls-1 {
  stroke-width: 2px;
}
nav a:hover svg,
nav a:hover svg .cls-1,
nav a:hover svg .cls-2 {
  stroke: rgba(72,72,72,1);
}
nav a:nth-of-type(1):hover svg {
  fill: rgba(72,72,72,1);
}
nav a:nth-of-type(1) {
  border-right: 1px solid rgba(36,36,36,1);
}
nav a:nth-of-type(3) {
  border-left: 1px solid rgba(36,36,36,1);
}
#burger {
  position: absolute;
  right: 0; top: 100%;
  height: 80px; width: 80px;
  background: rgba(72,72,72,1);
}
#burger svg {
  margin: 0 auto;
}

#about_content {
  padding: 30px 0 60px;
}

#scroll_cta {
  bottom: 1em;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%,0);
          transform: translate(-50%,0);
  opacity: 0;
  -webkit-transition: opacity 0.33s ease;
  transition: opacity 0.33s ease;
}
#scroll_cta_wheel {
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 0.33em;
  height: 1em;
  background: white;
  -webkit-animation: scroll-wheel 1.33s infinite forwards;
          animation: scroll-wheel 1.33s infinite forwards;
}
#scroll_cta_text {
  padding-top: 80px;
  font-size: 1.33em;
  letter-spacing: 0.1em;
}
#burger_cont:hover #scroll_cta {
  opacity: 1;
}
#burger_cont:hover #scroll_cta_text {
  -webkit-animation: phase 1.33s infinite alternate;
          animation: phase 1.33s infinite alternate;
}
#scroll_cta.inactive {
  opacity: 0!important;
}

#burger_cont {
  display: block;
  width: 100%;
  /*max-height: 50vh;*/
  text-align: center;
  margin: 40px auto 0;
  bottom: 0;
}
#burger_cont.now {
  position: absolute;
}
#burger_cont svg {
  width: 90%;
  height: 100%;
  max-width: 500px;
  /*max-height: 50vh;*/
  height: auto;
  overflow: visible;
  -webkit-transform: translate3d(0, 0, 0);
}
#burger_cont svg .soundbite {
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
}
#burger_trigger {
  bottom: 0;
}
#burger_trigger2 {
  bottom: 0;
}

#analogy {
  width: 90%;
  max-width: 600px;
  margin: 60px auto 0;
  padding: 1em 0;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  -moz-text-align-last: center;
       text-align-last: center;
}
#analogy:before,
#analogy:after {
  content: '';
  position: relative;
  display: block;
  width: 50%;
  max-width: 200px;
  min-width: 50px;
  background: white;
  height: 2px;
  border-radius: 2px;
}
#analogy:before {
  margin: 0 auto 2em;
}
#analogy:after {
  margin: 2em auto 0;
}

#about .section {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  -moz-text-align-last: center;
       text-align-last: center;
}
#about .section .header {
  width: 100%;
  margin-bottom: 1em;
  text-align: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#about .section .header h2 {
  font-size: 2em;
  padding: 15px;
  letter-spacing: 0.1em;
}
#about .section .text {
  line-height: 1.5em;
  padding-bottom: 40px;
  display: none;
}
#about .section .button .pupil {
  -webkit-transform-origin: 14px 14px;
          transform-origin: 14px 14px;
  -webkit-transition: -webkit-transform 0.33s ease;
  transition: -webkit-transform 0.33s ease;
  transition: transform 0.33s ease;
  transition: transform 0.33s ease, -webkit-transform 0.33s ease;
}
#about .section .button .top {
  -webkit-transition: -webkit-transform 0.33s ease;
  transition: -webkit-transform 0.33s ease;
  transition: transform 0.33s ease;
  transition: transform 0.33s ease, -webkit-transform 0.33s ease;
}
#about .section .button .eye-base,
#about .section .button .base {
  -webkit-transition: fill 0.33s ease;
  transition: fill 0.33s ease;
}
#about .section .button .cornea {
  -webkit-transition: fill 0.33s ease;
  transition: fill 0.33s ease;
}
#about .section.active .button .top {
  -webkit-transform: translate(0, 5px);
          transform: translate(0, 5px);
}
#about .section.active .button .pupil {
  -webkit-transform: scale(1.66);
          transform: scale(1.66);
}
#about .section.active .button .cornea {
  fill: rgba(27,138,185,1);
}
#about .section.active .button .eye-base,
#about .section.active .button .base {
  fill: rgba(72,72,72,1);
}

#about_content .section.active {
  padding: 0 0 1px;
  /* ^ Safari BS: causes repaint of entire
  .section which fixes the issue of these element
  disappearing apparently due to setPin() in
  ScrollMagic... */
}
#about_content .section.active .text {
  display: block;
}

#about_content .section .img-cont {
  margin-top: 2em;
}
#about_content .section .img-cont img {
  height: auto;
  width: auto;
  max-width: 40%;
  max-height: 60px;
  vertical-align: middle;
  display: inline-block;
  padding: 10px;
}

#contact .title {
  margin-bottom: 20px;
}
#contact_error {
  width: 90%;
  font-size: 1.33em;
  font-weight: 500;
  max-width: 360px;
  color: rgba(218,52,77,1);
  margin: 0 auto 20px;
}
#contact_form {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 40px;
}
#contact_form input,
#contact_form textarea {
  display: block;
  width: 100%;
  padding: 1.5em 1em;
  margin: 0;
  border: none;
  font-size: 1em;
  font-family: 'Gotham Book';
  box-sizing: border-box;
  -webkit-border-radius:0px;
  -webkit-appearance: none;
}
#contact_form input:focus,
#contact_form textarea:focus {
  outline-width: 0;
}
#contact_form input:nth-of-type(1) {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
#contact_form input:nth-of-type(2) {
  border-top: 1px solid rgba(200,200,200,1);
  border-bottom: 1px solid rgba(200,200,200,1);
}
#contact_form textarea {
  height: 200px;
  vertical-align: top;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  resize: none;
}
#contact_form input[type="submit"] {
  width: 150px;
  display: block;
  margin: 1em auto 0;
  padding: 0.5em 1em;
  font-size: 1.33em;
  background: rgba(127,176,105,1);
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
#contact_form input[type="submit"]:hover {
  background: rgba(64, 88, 53,1);
}

#contact_form.submitting input[type="submit"] {
  display: none;
}
#contact_form.submitting:after {
  content: "SUBMITTING...";
  font-size: 1.66em;
  display: block;
  text-align: center;
  margin-top: 20px;
  color: rgba(127,176,105,1);
  -webkit-animation: phase 1s infinite alternate;
          animation: phase 1s infinite alternate;
}
#contact .footer {
  color: white;
  text-transform: uppercase;
  padding-bottom: 40px;
}
#contact .footer h1 {
  font-size: 1.66em;
  margin-bottom: 0.1em;
}
#contact .footer a {
  color: white;
}

#hype_content {
  width: 90%;
  max-width: 800px;
  margin: 40px auto 80px;
}
#hype_content .testy {
  margin-bottom: 35px;
}
#hype_content .testy:before {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  background: white;
  height: 2px;
  margin: 0 auto;
  margin-bottom: 40px;
  border-radius: 2px;
}
#hype_content .testy:first-child:before {
  content: none;
}
#hype_content .testy .quote {
  line-height: 1.5em;
  padding-bottom: 10px;
  font-size: 1.2em;
  letter-spacing: 0.1em;
}
#hype_content .testy .quote:before {
  content: '“';
  font-size: 2em;
  font-family: 'Gotham';
  font-weight: 500;
  margin-right: 0.5em;
}
#hype_content .testy .name {
  font-size: 2em;
}
#hype_content .testy .title {
  max-width: 260px;
  padding: 0.33em 0;
  font-size: 0.9em;
}
#hype_content .testy .location {
  font-size: 0.8em;
}
#hype_content .testy:nth-of-type(2n) .id {
  text-align: right;
}
#hype_content .testy .id a {
  color: white;
  text-decoration: none;
}
#hype_content .testy .id a:hover {
  text-decoration: underline;
}

#ben_bio {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 60px;
}
#ben_bio h1 {
  margin-bottom: 40px;
}
#ben_bio img.pr {
  width: 100%;
  max-width: 200px;
  margin: 0 1.33em 1.33em 0;
}
#ben_bio p {
  line-height: 1.5em;
  max-width: 400px;
}

@media screen and (max-width: 700px) {
  #ben_bio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #ben_bio h1 {
    margin-bottom: 0.66em;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #ben_bio img.pr {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 0 auto;
    max-width: 300px;
  }
  #ben_bio p {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
    margin-bottom: 2em;
    max-width: 600px;
  }
}
@media screen and (max-width: 500px) {
  #hype_content .testy .quote {
    font-size: 1.1em;
  }
  #hype_content .testy .name {
    font-size: 6vw;
  }
}


@media screen and (max-width: 768px) {
  .page-title {
    font-size: 7.66vw;
  }
}

@media screen and (max-width: 650px) {
  nav {
    display: block;
    height: 100vh;
    -webkit-transition: none;
    transition: none;
  }
  nav.active {
    overflow: scroll;
  }
  nav.active a {
    display: block;
    /*opacity: 1;*/
  }
  nav.active #burger {
    top: 0;
  }
  .nav a .text {
    display: block;
    padding: 2em 0;
  }
  .nav a .pic {
    display: block;
    padding: 2em 0 0;
  }
  nav a {
    width: 100%;
    box-sizing: border-box;
    border-left: none;
    border-right: none;
  }
  nav a:nth-of-type(2) {
    border-top: 1px solid rgba(36,36,36,1);
    border-bottom: 1px solid rgba(36,36,36,1);
  }
}

/*Possible large desktop?*/
@media screen and (min-width: 1300px) {
  #about_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
  }
  #about_content .section {
    display: inline-block;
    vertical-align: top;
    max-width: 360px;
    margin: 0;
  }
  #about_content .section:nth-of-type(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #about_content .section:nth-of-type(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  #about_content .section:nth-of-type(3) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #about_content .section .header {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-bottom: 0;
  }
  #about_content .section .header .button {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #about_content .section .header h2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 15px 0 15px 18px;
  }
  #about_content .section .text {
    max-width: 350px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  #about_content .section .header h2 {
    font-size: 1.33em;
  }

  #contact .footer h1 {
    font-size: 1.33em;
  }
  #contact .footer a {
    font-size: 0.8em;
  }
  #ben_bio img.pr {
    max-width: 90%;
  }
}


@-webkit-keyframes phase {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


@keyframes phase {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes scroll-wheel {
  to {
    -webkit-transform: translate(-50%, 300%);
            transform: translate(-50%, 300%);
    opacity: 0;
  }
}

@keyframes scroll-wheel {
  to {
    -webkit-transform: translate(-50%, 300%);
            transform: translate(-50%, 300%);
    opacity: 0;
  }
}
