{{define "about"}}
{{template "header" .}}

<div id="about" class="page">
  <h1 class="title bold white text-center">
    PRIVATE LESSONS IN DIGITAL LITERACY
  </h1>

  <div class="content">
    <span class="block v-middle section">
      <span class="table header">
        <span class="button table-cell v-middle">
          <svg width="46px" height="53px" viewBox="287 680 46 53" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
              <rect id="path-1" x="0" y="0" width="46" height="46" rx="8"></rect>
              <mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="46" height="46" fill="white">
                <use xlink:href="#path-1"></use>
              </mask>
            </defs>
            <g class="eye-btn" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(287.000000, 680.000000)">
              <rect class="base" fill="#6A6565" x="0" y="7" width="46" height="46" rx="8"></rect>
              <g class="top">
                <use id="Rectangle-4" class="eye-base" stroke="#676565" mask="url(#mask-2)" stroke-width="6" fill="#D8D8D8" xlink:href="#path-1"></use>
                <g class="eye" transform="translate(9.000000, 9.000000)">
                  <circle class="cornea" fill="#7FB069" cx="14" cy="14" r="14"></circle>
                  <circle class="pupil" fill="#5E5A5A" cx="14" cy="14" r="5"></circle>
                </g>
              </g>
            </g>
          </svg>
        </span>
        <h2 class="white table-cell v-middle">LEARN CODE</h2>
      </span>
      <p class="text white">
        Apps / Games / Websites -- beneath the GUI surface of everything we do… bloobs bloobs bloobs bloobs bloobs bloobs bloobs bloobs bloobs bloobs bloobs bloobs bloobs bloobs
      </p>
    </span>
  </div>
</div>

{{template "footer" .}}
{{end}}
