{{define "contact"}}
{{template "header" .}}

<div id="contact" class="page text-center">
  <h1 class="title white bold">SAY HAY</h1>
  <p id="contact_error"></p>
  <form id="contact_form" action="/contact" method="post">
    <input id="contact_email" name="email" type="text" placeholder="email" />
    <input id="contact_subject" name="subject" type="text" placeholder="subject" />
    <textarea id="contact_body" name="body" placeholder="body"></textarea>
    <input class="pointer gotham white" type="submit" value="HAY" />
  </form>
</div>

{{template "footer" .}}
{{end}}
