{{define "contact"}}
{{template "header" .}}

<div id="contact" class="page text-center">
  <h1 class="page-title white bold">HI, WORLD</h1>
  <p id="contact_error"></p>
  <form id="contact_form" action="/contact" method="post">
    <input id="contact_email" name="email" type="text" placeholder="email" />
    <input id="contact_subject" name="subject" type="text" placeholder="subject" />
    <textarea id="contact_body" name="body" placeholder="body"></textarea>
    <input class="pointer gotham white" type="submit" value="HAY" />
  </form>
  <div class="footer">
    <h1>Having trouble?</h1>
    <a id="contact_direct" href="null">This works too.</a>
  </h1>
</div>

{{template "footer" .}}
{{end}}
