{{define "testies"}}
{{template "header" .}}

<div id="hype" class="page">
  <h1 class="page-title white bold text-center">TESTIMONIALS</h1>

  <div id="hype_content" class="white">
    <span class="block testy">
      <p class="quote gotham-book">
        Ben is a creative engineer.... He insists on a deep and holistic
        understanding of all of the technology he wields. He can make
        esoteric concepts relatable, complex topics simple, scary things
        fun, and drudgery into poetry.
      </p>
      <div class="uppercase id">
        <span class="inline-block name gotham-bold">
          Neil Sarkar
        </span><br/>
        <span class="inline-block title gotham">
          <a href="https://null.enterprises/">
            Founder, Lead Engineer: Null Enterprises
          </a>
        </span><br/>
        <span class="inline-block location gotham-book">
          Peniche, PT
        </span><br/>
      </div>
    </span>

    <span class="block testy">
      <p class="quote gotham-book">
        I was fortunate to have Ben as my TA during my immersive web
        development course. He has a way of explaining programming
        principles that neither overwhelms nor patronizes the student.
        It’s clear that he remembers what it was like to be a beginner,
        and he stays impressively patient while working with the
        student, neither leaving them to flail in the deep end nor
        harming their learning process by giving the answers away or
        encouraging shortcuts. Talk to Ben about programming and it’s
        clear that he has a great passion for the field and lots of
        enthusiasm and energy to share that with others.
      </p>
      <div class="uppercase id">
        <span class="inline-block name gotham-bold">
          Zachary Totta
        </span><br/>
        <span class="inline-block title gotham">
          <a href="http://www.zachtotta.com/">
            Software Engineer
          </a>
        </span><br/>
        <span class="inline-block location gotham-book">
          San Francisco
        </span><br/>
      </div>
    </span>

    <span class="block testy">
      <p class="quote gotham-book">
        Ben Benjamin knows what it means to go from 0 to 1 as a young
        programmer. That's a joke about binary. You'd understand it if
        Ben was tutoring you... He's exactly the tutor I'd choose if I
        were entering this field brand new: he has put in the effort to
        understand and practice all of the most important concepts
        and technologies new programmers need to be successful.
      </p>
      <div class="uppercase id">
        <span class="inline-block name gotham-bold">
          Philip Hughes
        </span><br/>
        <span class="inline-block title gotham">
          <a href="http://gopowerforward.com/">
            VP of Engineering at PowerForward
          </a>
        </span><br/>
        <span class="inline-block location gotham-book">
          Los Angeles
        </span><br/>
      </div>
    </span>

    <span class="block testy">
      <p class="quote gotham-book">
        I reached out to Ben for help on coding JavaScript and I’ve met
        with him now about 4-5 times. Every session with him is ‘eye’
        opening because he breaks down what is really happening in the
        code. He explains code in a very understandable way. He’s very
        patient and he shows me how the code connects to other
        pieces/parts that I need to learn. I recommend Ben highly if
        you need a coding tutor, I’ll be using him in the future.
      </p>
      <div class="uppercase id">
        <span class="inline-block name gotham-bold">
          Margie Reynolds
        </span><br/>
        <span class="inline-block title gotham">
          <a href="https://www.linkedin.com/in/margie-reynolds-6787052">
            Web Developer, Former Assembler Programmer
          </a>
        </span><br/>
        <span class="inline-block location gotham-book">
          Los Angeles
        </span><br/>
      </div>
    </span>

    <span class="block testy">
      <p class="quote gotham-book">
        With Ben, I was able to build my first website. Not only did he
        help bring exactly what I had envisioned to life, but he was
        also a wonderful teacher when instructing me on how to update
        and maintain the site’s code myself.
      </p>
      <div class="uppercase id">
        <span class="inline-block name gotham-bold">
          Alex Pachino
        </span><br/>
        <span class="inline-block title gotham">
          <a href="http://alexpachino.com/">
            Songwriter/Musician
          </a>
        </span><br/>
        <span class="inline-block location gotham-book">
          Los Angeles
        </span><br/>
      </div>
    </span>

    <span class="block testy">
      <p class="quote gotham-book">
        Before working with Ben, I had a very rudimentary understanding
        of coding. I brought him the shell of my site and over the
        course of our time together we explored everything from basic
        coding elements to the fundamentals of the Internet.
      </p>
      <div class="uppercase id">
        <span class="inline-block name mo gotham-bold">
          Moira Mackesy-Green
        </span><br/>
        <span class="inline-block title gotham">
          <a href="http://msmoiramack.com/">
            Artist
          </a>
        </span><br/>
        <span class="inline-block location gotham-book">
          Los Angeles
        </span><br/>
      </div>
    </span>
  </div>

  <div id="ben_bio">
    <h1 class="page-title white bold text-center">WT* IS BEN?</h1>
    <!-- <img class="inline-block v-middle pr" src="/static/assets/img/power_rangers.png" alt="Power Rangers" title="Recent photo of Ben"/> -->
    <img class="inline-block v-middle pr" src="/static/assets/img/beans.jpg" alt="" title="Ben Concentrates While Making Beans"/>
    <p class="inline-block white gotham-book v-top text-left">
      Ben is a freelance programmer and instructor currently located
      in Los Angeles. He has a deep passion for teaching and sharing
      information. He is available for individual / group lessons in
      person or remotely via screenshare. His spirit pokemon is ivysaur
      <img class="inline ivy v-middle" width="20" height="auto" src="/static/assets/img/ivysaur.png" />
    </p>
  </div>
</div>

{{template "footer" .}}
{{end}}
